
// base colors
$black = #000

$dark1 = #212828
$dark2 = #222
$dark3 = #707878

$green1 = #00d0a0
$green2 = #17ff94

$blue1 = #057d9f

$light1 = #e4e4e4
$light2 = #f4f4f4

$white = #fff


// use this variables
$colorLink = $dark3
$colorLinkActive = $green1


$colorBgBody = $white
