@import '~react-ui-2018/style-constants/colors.styl'
@import '~react-ui-2018/style-constants/indents.styl'

.root
	min-width 201px

.menu
	width 100%

.dropdown
	min-width 100%

.touristItem
	padding $indentS
	border-bottom 1px solid $colorMinorGrayLighten2

	&:last-child
		border-bottom 0

.footer
	border-top 1px solid $colorMinorGrayLighten2
