/**
 * @name Links
 * @section Links
 * @description Sample
 */
@import '../colors.styl'

/**
 * @name Pseudo-link
 * @section Links
 * @description Sample
 */
.pseudo-link
	color $colorLink
	text-decoration none
	user-select none
	cursor pointer

	&:hover
		color $colorLinkActive
