.countriesField
	width 32%
	flex 1 0 32%
	min-width 0

.submit
	align-self center
	max-width 195px

.InputDropdownField
	flex 0 0 110px
	width 110px

.touristsField
	flex 0 0 201px
	width 201px

.datesField
	width 320px
	flex 0 0 320px

.daysCountField
	width 135px
	min-width 135px
