.logo
	width 134px
	height 56px
	object-fit contain

	// @todo исправить на глобальные брейкпойнты после исправления слайдера в DESIGNDEV-425
	// Высота контейнера слайдера регулируется размерами дочерних элементов, поэтому при их высоте меньше 48px
	// обрезаются стрелки вперёд-назад.
	@media (max-width: 400px)
		width 96px
		height 40px
