@import '~ui-2013/guideline.styl'
@import '~ui-2013/mixins.styl'
@import '~ui-2013/components/bank-header-license-status/bank-header-license-status.styl'
@import '~ui-2013/components/company-properties/company-properties.styl'

@import 'pages/index.styl'
@import 'pages/company.styl'
@import 'pages/product.styl'
@import 'pages/order.styl'
@import 'pages/rating.styl'

@import 'widgets/infoblock.styl'
